body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
